.cardLink {
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%, 0 0%);

  @apply block;
  transition: clip-path 0.1s ease-in-out;
}
.card {
  @apply relative;
  @apply overflow-hidden;
}

.cardImageContainer {
  @apply w-full;
  @apply aspect-square;
  @apply overflow-hidden;
}

.cardImage {
  @apply w-fit;
  @apply transition-all; /* bleeeehh */
  @apply duration-100;
  @apply ease-out;
}

.cardContent {
  @apply bg-lime-600;
  @apply p-3;

  @apply lg:p-5;
}

.cardContent {
  @apply flex;
  @apply justify-between;
}

.cardContentName {
  @apply font-bold;
}

.cardCta {
  @apply absolute;
  @apply z-10;
  @apply left-1/2;
  @apply top-1/2;

  @apply p-3;

  @apply bg-fuchsia-400;
  @apply bg-opacity-70;
  @apply text-white;

  @apply -translate-x-1/2;
  @apply -skew-x-12;

  @apply opacity-0;

  @apply transition-all; /* bleeehh */
  @apply duration-150;
  @apply ease-out;
}

.cardCta span {
  @apply skew-x-12;
  @apply block;
}

.cardLink:hover {
  clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0 100%, 0 5%);

  .cardImage {
    @apply contrast-125;
    @apply scale-105;
  }

  .cardContent {
    @apply bg-lime-700;
  }

  .cardCta {
    @apply opacity-100;
    @apply -translate-y-1/2;
  }
}
