.overview {
  container: overview / inline-size;
}

.productList {
  @apply grid;
  @apply gap-4;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  @apply lg:gap-6;
}

.header {
  @apply grid;
  @apply gap-4;
  @apply items-center;

  grid-template-areas:
    "title"
    "desc";
}

.headerImage {
  @apply hidden;
  grid-area: image;
}

.headerTitle {
  grid-area: title;
}

.headerDescription {
  grid-area: desc;
}

@container overview (min-width: 40rem) {
  .header {
    grid-template-areas:
      "title title title title"
      "image desc desc desc";
  }

  .headerImage {
    @apply block;
  }
}

@container overview (min-width: 50rem) {
  .header {
    grid-template-areas:
      "title title title title"
      "image image desc desc";
  }
}
