@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

.form-field {
  @apply flex;
  @apply flex-col;
  @apply gap-2;
}

.form-input {
  @apply p-3;

  background: var(--foreground);
  color: var(--background);
}

.form-input[type="password"] {
  @apply tracking-widest;
}
